#allMap {
  height: 500px;
  width: 100%;
}

#allMap ::ng-deep .circleContent p {
  width: 80px;
  line-height: 20px;
  text-align: center;
  color: #fff;
  font-size: 14px;
}

#allMap ::ng-deep .circleContent .name {
  margin-top: 20px;
}

#allMap ::ng-deep .circleContent .count {
  margin-top: -10px;
}

#allMap ::ng-deep .labelName {
  text-align: center;
  padding: 0px 5px;
}

#allMap ::ng-deep .labelName span {
  height: 22px;
  line-height: 22px;
  color: "#fff";
  font-size: 14px;
}

#allMap ::ng-deep .labelName .count {
  font-weight: bold;
}

/* 可以隐藏版本，不建议隐藏，隐藏后，商用可能引起侵权问题...... */
/* #allMap ::ng-deep .BMap_cpyCtrl, #allMap ::ng-deep .anchorBL{
    display:none;
} */
